{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <!-- Tailwind + CSS personalizado -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="bg-[var(--color-fondo)] text-[var(--color-letra-fondo)]">

   

    <!-- Sidebar + Contenido -->
    <div class="flex min-h-screen">
        
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        
                        <img src="{% static 'img/logo.png' %}" alt="">
                        
                    </span>
                    <div class="text logo-text">
                        <span class="name">Empresa X</span>
                        <span class="profession"></span>
                    </div>
                </div>

                <i id="toggleSidebar" class="bx toggle botonDesplegable bx-chevron-left"></i>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link"><a href="/home"><i class='fas fa-home mr-2 icon'></i><span class="text nav-text">Dashboard</span></a></li>
                        <li class="nav-link"><a href="/usuarios"><i class='fas fa-users mr-2 icon'></i><span class="text nav-text">Usuarios</span></a></li>
                        <li class="nav-link"><a href="/empresas"><i class='fas fa-building mr-2 icon'></i><span class="text nav-text">Empresas</span></a></li>
                        <li class="nav-link"><a href="/productos"><i class='fas fa-cube mr-2 icon'></i><span class="text nav-text">RAEE</span></a></li>
                        
                        <li class="nav-link"><a href="/clasificacion"><i class='fas fa-industry mr-2 icon'></i><span class="text nav-text">Act. Económica</span></a></li>
                        <li class="nav-link"><a href="/categorias"><i class='fas fa-list-alt mr-2 icon'></i><span class="text nav-text">Categorías</span></a></li>
                        <li class="nav-link"><a href="/niveles"><i class='fas fa-layer-group mr-2 icon'></i><span class="text nav-text">Niveles</span></a></li>
                        
                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="menu-logs"><a href="{% url 'logout' %}"><i class='bx bx-log-out icon'></i><span class="text nav-text">Cerrar sesión</span></a></li>
                    <!--<li class="menu-logs"><a href="#"><i class='bx bx-show icon'></i><span class="text nav-text">Tema</span></a></li> -->
                </div>
            </div>
        </aside>

        <!-- Contenido de la vista -->
        <main class="flex-1 p-6 contenidoDentro">
            {% block content %}
            <!-- Aquí va el contenido de cada vista -->
            {% endblock %}
        </main>
    </div>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d5e0927782.js" crossorigin="anonymous"></script>

    <!-- Funcionalidad Sidebar -->
    <script src="{% static 'js/sidebar.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
