
/* Contenedor principal del dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-fondo);
    align-items: center;
    box-sizing: border-box;
}

/* Formulario selector de empresa */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1.5rem;
}

form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

form select {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-borde-input);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--color-terciario);
    width: 100%;
}

/* Métricas */
.metric-box {
    border: 2px solid var(--color-borde-input);
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: var(--color-terciario);
    width: 180px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.metric-box h3 {
    font-size: 1rem;
    color: var(--color-secundario);
    margin-bottom: 0.5rem;
}

.metric-box p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-secundario);
    margin: 0;
}

/* Contenedor de gráficos */
.chart-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

/* Cada gráfico individual */
.chart-box {
    width: 100%;
    max-width: 700px;
    height: 400px;
    background-color: var(--color-terciario);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


@media (max-width: 480px) {
    .dashboard-container {
        padding: 5px;
    }

    .metric-box {
        width: 60%;
        max-width: 300px;
        padding: 1rem;
    }

    .metric-box p {
        font-size: 1.8rem;
    }

    form {
        max-width: 100%;
    }

    .chart-box {
        height: 280px;
        padding: 0.75rem;
    }

    form select {
        font-size: 0.95rem;
        padding: 0.4rem 0.8rem;
    }
}
