/* ========== Botón Imprimir Seleccionados ========== */



.disable {
    opacity: 0.5 !important;
    pointer-events: none ;
}



/* ========== Checkbox para selección múltiple ========== */
#tabla-usuarios th:first-child,
#tabla-usuarios td:first-child {
    text-align: center;
    width: 50px;
}

#btn-imprimir-seleccionados i {
    margin-right: 0.5rem; /* Ajusta el espacio entre el icono y el texto */
}